exportPattern("^[[:alpha:]]+")

import("shiny")
importFrom("stats", "dbinom", "qbeta", "qchisq", "qnorm", "rbeta", "rbinom",
             "rnorm",  "runif", "rgamma", "uniroot")
importFrom("gplots", "textplot")
